body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  background: black;
  overflow-x: hidden;
}

@keyframes cursor-blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.App {
  color: #03a64a;
  display: block;
  font-family: "AndaleMono", monospace;
  margin-top: 1em;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  margin-bottom: 0.75em;
}

.intro-container {
  display: flex;
  justify-content: center;
  color: #03a64a;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: flex-end;
}

.introduction-text,
.introduction,
.education-titre,
.contact-titre,
.bio-titre,
.help-titre-commande,
.projet-titre {
  color: #03a64a;
}

a {
  color: #03a64a;
  text-decoration: none;
  animation: cursor-blink 1.5s steps(1) infinite;
  display: inline-block;
  padding: 25px;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-right: 1rem;
}

input:focus {
  outline: none !important;
  caret-color: auto;
}

.terminal-input-area {
  display: flex; /* Permet d'aligner les éléments horizontalement */
  align-items: center; /* Centrer verticalement les éléments */
  width: 100%;
  margin: 0;
  padding: 0;
}

.terminal-prompt {
  display: flex; /* Affiche les parties du prompt sur la même ligne */
  align-items: center; /* Aligne verticalement les éléments du prompt */
  margin-right: 10px; /* Espacement entre le prompt et l'input */
  color: #03a64a;
}

.terminal-prompt .part-1 {
  margin-right: 5px; /* Espacement entre les différentes parties du prompt */
}

.terminal-prompt .part-2 {
  color: #a6afa5; /* Couleur différente pour la deuxième partie du prompt */
}

.terminal-input {
  border: none;
  background-color: transparent;
  color: blanchedalmond;
  font-family: "AndaleMono", monospace;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  line-height: 1;
  outline: none;
  width: 100%;
  padding: 5px 0;
}

.education-titre {
  color: #03a64a;
}

.education-description {
  color: blanchedalmond;
}

.projet-titre {
  color: #03a64a;
  margin-bottom: 1em;
}

.projet-description {
  color: blanchedalmond;
  margin-bottom: 0.5em;
}

.projet-stack {
  color: blanchedalmond;
}

.document-item {
  color: blanchedalmond;
  padding: 5px;
}

.contact-titre {
  color: #03a64a;
}

.contact-lien {
  color: blanchedalmond;
}

.bio-titre {
  color: #03a64a;
}

.bio-content {
  color: blanchedalmond;
}

.pwd-result {
  color: blanchedalmond;
}

.secret-titre {
  color: blanchedalmond;
}

.secret-content {
  color: darkgoldenrod;
}

.help-titre-commande {
  color: #03a64a;
}

.help-explication {
  color: blanchedalmond;
}

.help-exemple {
  color: #a6afa5;
}

.cv-lien {
  color: blanchedalmond;
}

.wrong {
  color: rgb(241, 41, 14);
}

@media only screen and (min-width: 767px) {
  body {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .documents-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .image-name {
    max-width: 100%;
  }

  .copyright {
    display: none;
  }

  .separation {
    display: none;
  }

  ul {
    list-style: none;
    margin-right: 1rem;
  }

  input:focus {
    outline: none !important;
  }
}
